<h1 class="center">My Checklist</h1>

<h3 class="center"><i>Welcome, <%= ( current_user.name ? current_user.name : current_user.email ) %> - let's get things done!</i></h3>  

<div style='margin-top: 15px;'>
  <%= render partial: 'items/form', locals: { item: @item } %>
</div>

<table class="table table-hover">
  <tr>
    <th>Item</th>
    <th>Days Left</th>
   </tr> 
  <%= render @items %>
</table>

   