<h1>My Checklist</h1>

  <h3><%= current_user.name %></h3>
  <p><%= current_user.email %><p>

<div style='margin-top: 15px;'>
  <%= render partial: 'items/form', locals: { item: @item } %>
</div>

<table class="table table-hover">
  <tr>
    <th>Item</th>
    <th>Days Left</th>
   </tr> 
  <%= render @items %>
</table>

   