<h1>About Blocitoff-RC</h1>
<p>Created by: Rachel Colby</p>
<p>Blocitoff-RC was inspired by the oft-quoted adage, "If you haven't done by it now, it must not be that important!" </p>
<p>It's easy to add and add to your to-do list, and it's just as easy to get overwhelemed and distracted by the sheer quantity of to-do's as the list keeps growing and growing. Blocitoff-RC was created to help busy professionals address what needs to get done and let go of low-priority to-do's that need to drop off the list.</p>
<p>At Blocitoff-RC, we're committed to helping you eliminate those old to-do's you know you'll never do. So check it off, or we'll blocitoff!</p>