<h1>About Blocitoff-RC</h1>
<h5><em>Created by Rachel Colby</em></h5>
<h4>Blocitoff-RC was inspired by the oft-quoted adage, <em>"If you haven't done it by now, it must not be that important!"</em> </h4>
<h4>It's easy to add and add to your to-do list, and it's just as easy to get overwhelemed and distracted by the sheer quantity of to-do's as the list keeps growing and growing. Blocitoff-RC was created to help busy professionals let go of low-priority to-do's that need to drop off the list and focus on the things that matter.</h4>
<h4>At Blocitoff-RC, we're committed to helping you eliminate those old to-do's you know you'll never get to. </h4>
<h3><em><strong>So check it off, or we'll blocitoff!</strong></em></h3>