<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>

  <h3>Welcome to Blocitoff-RC, the premier to-do list management app!</h3>
    <p>Do you find yourself adding to your to-do list more than crossing things off? Are you distracted and overwhelmed by the old stale to-do's that don't go away? </p>
    <p>Ever had someone tell you, "If you haven't done by it now, it must not be that important?" </p>
    <p>At Blocitoff-RC, we agree! And we're committed to helping you eliminate those old to-do's you know you'll never get to. So we say:
  <h3><em>Check it off, or we'll blocitoff! </em></h3>
  </br>

      <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      </p>
      <p>Join the movement! You'll quickly see your to-do list tamed and your productivity skyrocket.</p>
</div>


