<h1>Welcome to Blocitoff-RC, the premier to-do list management app!</h1>
<p>Do you find yourself adding to your to-do list more than crossing things off? Get distracted and sad by the old stale to-do's that don't go away? </p>
<p>Ever heard someone say, "If you haven't done by it now, it must not be that important?" </p>
<p>At Blocitoff-RC, we agree! And we're committed to helping you eliminate those old to-do's you know you'll never do. So we say, check it off, or we'll blocitoff! You'll quickly see your to-do list tamed and your productivity skyrocket.</p>
